<header class="d-flex align-items-center p-3" style="background-color: #3778c2">
  <i class="fa fa-arrow-left"></i>
  <span class="w-100 text-center">Register</span>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "mt-3"}) do |f| %>
  <div class="card">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating ms-3">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control border-start-0 border-top-0 border-end-0 border-bottom-0 shadow-none", placeholder: "John Doe" %>
      <%= f.label :name %>
    </div>

    <div class="form-floating ms-3">
      <%= f.email_field :email, autocomplete: "email", class: "form-control border-start-0 border-end-0 border-bottom-0 shadow-none", placeholder: "johndoe@example.com" %>
      <%= f.label :email %>
    </div>

    <div class="form-floating ms-3">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control border-start-0 border-end-0 shadow-none", placeholder: "******" %>
      <%= f.label :password %>
    </div>

    <div class="form-floating ms-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border-start-0 border-bottom-0 border-top-0 border-end-0 shadow-none", placeholder: "******" %>
      <%= f.label :password_confirmation %>
    </div>
  </div>

  <div class="fixed-bottom bg-success py-2 text-center">
    <%= f.submit "Sign up", class: "btn btn-success border px-5", style: "color: #fff" %>
  </div>
<% end %>

<p class="ms-3 mt-1">Already have an account? <%= link_to "Log in", new_session_path(resource_name) %></p>
